$main-color: #C5C5C5;
$text-color: #232323;
$secondary-color: #1D1D1D;
$font-family: Cardo;

footer {
  display: flex;
  align-items: center;
  background: $main-color;
  height: 440px;
  flex-shrink: 0;

  .column-text {
    h2 {
      font-size: 33px;
      margin-top: -7px;
      margin-bottom: 62px;
    }
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    height: 1002px;
    padding-top: 46px;

    .footer-logo {
      margin-bottom: 20px;
    }
    
    .footer-columns {
      margin: 0 auto;
      display: inline !important;
    }
    
    p {
      margin: 0 auto;
    }
  }
  
  p {
    width: 261px;
    color: $text-color;
    font-family: $font-family;
    font-size: 63.417px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.417px;
    letter-spacing: -2.492px;
  }
  
  .footer-logo {
    flex: 1;
  }
  
  .footer-columns {
    display: flex;
    flex: 2;
    
    .column {
      flex: 1;
      margin: -10px;
      
      h3 {
        margin-top: 0;
        line-height: 45px;
      }
      
      a {
        text-decoration: none;
        color: $secondary-color;
      }
    }
  }
}

.col-text4 {
  position: relative;
  top: -21px;
}

.text1, .text2, .text3 {
  position: relative;
  top: 61px;
}

.text-reserved {
  background: $main-color;
  text-align: center;
  font-size: 15px;
  height: 150px;
}
